<div class="comments">
  {{#each this}}
    <div class="card">
        <h3 style="background-color:orange; color:rgb(21, 21, 116);" class="card-header">Comment</h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                -{{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
  
</div>


