
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blue Tech Blog</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class="nav">
                    <a class="link-color" href="/">Home</a>
                    <a class="link-color" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link-color" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link-color" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="blogTitle"><i class="fab "></i>Blue Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>