
{{#if posts.length}}
<section>
  <h2 style="color:white;">Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a style="border:solid white;" class="link" href="/dashboard/new">+ New Post</a></button>


<script src="/js/newPost.js"></script>