:root {
    --primary: #ccdad1;
    --secondary: rgb(241, 241, 178);
    --tertiary: rgb(252, 187, 102);
    --light-dark: rgb(5, 116, 116);
    --dark: rgb(33, 33, 129);
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 24px;
}
                  
h1,
h2,
h3,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}
.link-color {
    color: var(--light-dark);
    padding: 5px;
    margin: 10px
}
.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.blogTitle .fab {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}
.nav {
    padding: 5px;
    line-height: 1.25;
    float: top;
}
.card {
    background-color: var(--tertiary) ;
}

.card-header {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}
.card-body{
    color: var(--light-dark);
}
.form-label{
    color: var(--dark);
}
.login-form {
    color: var(--light-dark);
    margin-left: 50px;
}
#signup-form{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 40%;
}

